parameters:
    recipe_repo_private: https://bitbucket.org/mvmoay/demo-recipes

    official_endpoint: https://symfony.sh/
    proxy_official_endpoint: true
    cache_official_endpoint: true
    mirror_official_recipes: true
    mirror_contrib_recipes: true
    recipe_repo_official: https://github.com/symfony/recipes
    recipe_repo_contrib: https://github.com/symfony/recipes-contrib


services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false       # Allows optimizing the container by removing unused services; this also means
                            # fetching services directly from the container via $container->get() won't work.
                            # The best practice is to be explicit about your dependencies anyway.
        bind:
            $officialEndpoint: '%official_endpoint%'
            $enableProxy: '%proxy_official_endpoint%'
            $cacheEndpoint: '%cache_official_endpoint%'
            $privateRepoUrl: '%recipe_repo_private%'
            $officialRepoUrl: '%recipe_repo_official%'
            $contribRepoUrl: '%recipe_repo_contrib%'
            $mirrorOfficialRepo: '%mirror_official_recipes%'
            $mirrorContribRepo: '%mirror_contrib_recipes%'
            $projectDir: '%kernel.project_dir%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
