<!DOCTYPE html>
<html>
<head>
    <title>Flex Server</title>
    {{ encore_entry_link_tags('dashboard') }}
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        body { color:#fff }
        body a { color:#fff }
    </style>
</head>
<body>
<div id="dashboard">
    <v-app light>
        <v-toolbar app>
            <v-toolbar-title>Flex Server</v-toolbar-title>
        </v-toolbar>
        <v-content grid-list-xl text-xs-center align-content-center>
            <v-layout row wrap pt-5>
                <v-flex xs12 sm6 lg5 offset-sm1 offset-lg2 mr-1>
                    <v-card mb-5>
                        <v-toolbar dark color="secondary">
                            <v-toolbar-title>Local Recipes</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn flat icon @click="showSearch" v-if="!enableFilter"><v-icon>search</v-icon></v-btn>
                            <v-text-field
                                    ref="searchField"
                                    placeholder="Search"
                                    v-model="filterString"
                                    @keyup.esc="hideSearch"
                                    v-if="enableFilter"
                                    transition="slide-y-transition"
                            ></v-text-field>
                        </v-toolbar>
                    </v-card>

                    <v-card light color="grey">
                        <v-card-text class="recipe-holder">
                            <div class="text-xs-center" v-if="!dataLoaded">
                                <v-progress-circular center :indeterminate="true" color="white" height="4"></v-progress-circular>
                            </div>
                            <v-card
                                    light elevation-0
                                    class="recipe-holder__recipe"
                                    v-for="recipe in recipesToShow" :key="recipe.officialPackageName">
                                    <v-list>
                                        <v-list-tile>
                                            <h3>${ recipe.author }/${ recipe.package }</h3>
                                        </v-list-tile>
                                        <v-list-tile v-if="recipe.manifest != null && recipe.manifest.aliases != undefined && recipe.manifest.aliases.length > 0">
                                            <small>Aliases: <v-chip very small label v-for="alias in recipe.manifest.aliases">${alias}</v-chip></small>
                                        </v-list-tile>

                                        <v-alert type="error" :value="true" v-if="recipe.manifestValid === false">
                                            The manifest of this recipe does not contain valid json. The recipe cannot be delivered properly.
                                        </v-alert>

                                    </v-list>
                                <v-card-actions>
                                    <v-chip
                                            small outline
                                            :color="repoColors[recipe.repo.slug]"
                                            v-if="activeRepos.length > 1"
                                    >${ recipe.repo.slug.toUpperCase() }</v-chip>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                            color="secondary" flat small
                                            :href="'https://packagist.org/packages/' + recipe.officialPackageName"
                                            target="_blank"
                                            v-if="recipe.repo.slug !== 'private'"
                                    ><v-icon>code</v-icon>&nbsp;&nbsp;Package</v-btn>
                                    <v-btn
                                            color="info" flat small
                                            :href="recipeUrl(recipe)"
                                            target="_blank"
                                            v-if="recipe.versions.length === 1"
                                    ><v-icon>receipt</v-icon>&nbsp;&nbsp;Recipe</v-btn>
                                    <v-menu offset-y v-if="recipe.versions.length > 1">
                                        <v-btn color="info" flat small slot="activator"><v-icon>receipt</v-icon>&nbsp;&nbsp;Recipe</v-btn>
                                        <v-list>
                                            <v-list-tile v-for="version in versionSort(recipe.versions)" :key="recipe.officialPackageName + version"
                                                         :href="recipeVersionUrl(recipe, version)"
                                                         target="_blank"
                                            >
                                                <v-list-tile-title>v${ version }</v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </v-card-actions>
                            </v-card>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex hidden-xs-only sm4 lg3  class="sidebar">
                    {% include 'dashboard/repostatus.html.twig' %}
                    {% include 'dashboard/resources.html.twig' %}
                </v-flex>
            </v-layout>
        </v-content>
        <v-footer app>
            <v-flex xs12 py-3 text-xs-center>
                Powered by the <a href="https://github.com/moay/symfony-flex-server">moay Symfony Flex Server</a>. Published under the <a href="https://github.com/moay/symfony-flex-server/blob/master/LICENSE">MIT License</a>.
            </v-flex>
        </v-footer>
    </v-app>
</div>

{{ encore_entry_script_tags('dashboard') }}
</body>
</html>
