<v-card tile light>
    <v-card-title>Resources</v-card-title>
    <v-list>
        <v-list-tile>
            <v-list-tile-action>
                <v-list-tile-action-text>Want to learn about this flex server? Visit the <a href="https://github.com/moay/server-for-symfony-flex">project on github</a>.</v-list-tile-action-text>
            </v-list-tile-action>
        </v-list-tile>

        <v-list-tile>
            <v-list-tile-action>
                <v-list-tile-action-text>Want to learn about creating recipes? Visit the <a href="https://github.com/symfony/recipes">official recipe repo</a>.</v-list-tile-action-text>
            </v-list-tile-action>
        </v-list-tile>
    </v-list>
</v-card>
